/* Universal selector style */
* {
    margin: 0;
    padding: 0;
  }
/* Body style */
body {
    background-color:rgb(247, 241, 241);
}
/* Header and navigation styles start */
header {
    padding: 10px 35px;
    background-color: rgb(212, 139, 184);
}
header h1 {
    font-size: 36px;
    color:blanchedalmond;
    margin: 0;
} 
header a {
    color:blanchedalmond;
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 22px;
  }
/* Header and navigation styles end */
  
/* Bottom right text */
.text-block {
    position: absolute;
    top: 220px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.bios {
    display: flex;
    margin: 25px;
    padding-left: 30px;
}

h2 {
    border-right: rgb(179, 131, 139) 2px solid;
    padding-right: 15px;
    font-size: 26px;
}
.bio {
    padding-left: 20px;
}
.social ul li{
    display: inline-block;
    padding-left: 75px;
}

